<section id="events" class="events-preview">
  <div class="container">
    <h2>Eventos Realizados</h2>
    <div class="cards">
      <div class="card">
        <img src="/images/formares-evento-1.png" alt="Evento 1">
        <div class="card-caption">
          <h3>I Seminário contra a Exploração Sexual e Trabalho Infantil de Crianças e Adolescentes</h3>
          <p>Este Seminário abordou a prevenção e o combate à exploração sexual e ao trabalho infantil, promovendo debates e ações de conscientização para garantir os direitos das crianças e adolescentes. Realizado na cidade de Barreirinhas/MA.</p>
        </div>
      </div>
      <div class="card">
        <img src="/images/formares-evento-2-1.png" alt="Evento 2">
        <div class="card-caption">
          <h3>Encontro do Sistema de Garantia de Direitos de Crianças e Adolescentes da Região Sul-Tocantina</h3>
          <p>Reunião de especialistas e autoridades para discutir estratégias de proteção e desenvolvimento social, focada na melhoria dos mecanismos de garantia dos direitos das crianças e adolescentes na região Sul-Tocantina, em Carolina/MA.</p>
        </div>
      </div>
      <div class="card">
        <img src="/images/formares-evento-3-1.png" alt="Evento 3">
        <div class="card-caption">
          <h3>1º Seminário Regional da Chapada do Alto Itapecuru de Conselheiros(as) Tutelares e Operadores do SGD</h3>
          <p>Evento dedicado aos desafios e à atuação do Conselho Tutelar, com o objetivo de fortalecer a proteção integral e capacitar profissionais para uma atuação mais efetiva na defesa dos direitos da infância e adolescência, na cidade de Colinas/MA.</p>
        </div>
      </div>
    </div>
  </div>
</section>

  