<section id="about" class="about">
  <div class="container">
    <h2>Sobre a Formares</h2>
    <img src="/images/formares-logo.png" sizes="10%">
    <p>
      A Formares é uma consultoria de direitos humanos comprometida com a transformação social. Nosso objetivo é promover o desenvolvimento social por meio de parcerias e ações inovadoras, sempre respeitando a dignidade e a inclusão.
    </p>

    <div class="about-info">
      <div class="info-item">
        <i class="fas fa-bullseye"></i>
        <h3>Missão</h3>
        <p>Promover os direitos humanos e o desenvolvimento social através de ações inovadoras e colaborativas.</p>
      </div>
      <div class="info-item">
        <i class="fas fa-eye"></i>
        <h3>Visão</h3>
        <p>Criar um futuro mais justo e inclusivo, onde todos tenham a oportunidade de se desenvolver e contribuir para a sociedade.</p>
      </div>
      <div class="info-item">
        <i class="fas fa-hands-helping"></i>
        <h3>Valores</h3>
        <p>Respeito, dignidade, inclusão e colaboração são os pilares que orientam todas as nossas ações.</p>
      </div>
    </div>
  </div>
</section>

<section id="founder" class="founder-section">
  <div class="container">
    <h2>Membro Fundadora</h2>
    <div class="founder-content">
      <div class="founder-photo">        
        <img src="/images/formares-fundadora.png" alt="Liliane Silva">
      </div>
      <div class="founder-description">
        <h3>Liliane Silva</h3>
        <p>
          Advogada pela OAB-MA, Liliane é Especialista em Direitos Humanos pela Universidade Estadual do Maranhão (UEMA) 
          e Especialista em Garantia de Direitos e Políticas de Cuidados à Criança e ao Adolescente pelo ENDICA (UNB). 
          Ex-Conselheira Tutelar de São Luís, atua como Consultora de Políticas Públicas para a Infância e Adolescência,
          além de ser palestrante e capacitadora para o SGD e para Conselheiros Tutelares. Atualmente, exerce a função 
          de Coordenadora Técnica do SIPIA-CT/MA, trazendo sua sólida expertise jurídica para a defesa dos direitos das 
          crianças e adolescentes.
        </p>
      </div>
    </div>
  </div>
</section>  
